.Side {
  position: fixed;
  width: 240px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 35, 39);
}

.Side-separator{
  width: 150px;
}

.Loading {
  text-align: center;
  padding: 16px;
}

.Main {
  height: 100vh;
  margin-inline-start: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Note-list{
  list-style-type: none;
  padding-inline-start: 0;
}

.Note-link {
  display: flex;
  gap: 6px;
  padding: 16px;
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.Note-link-container{
  display: flex;
  flex-direction: column;
  width: 250px;
}

.Note-link-content{
  font-size: smaller;
  opacity: .5;
}

.Note-link.active {
  background-color: rgb(44, 51, 56);
}

.Note-link-lastUpdatedAt {
  font-size: 10px;
  color: darkgrey;
}

.Note-Button{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.Note-Button img{
  width: 25px;
  height: 25px;
}

.Button {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 35, 39);
  border: none;
  color: inherit;
}

.Button-create-note {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: rgb(44, 51, 56);
}

.Header{
  display: flex;
  background-color: rgb(57, 66, 73);
}

.Search{
  background-color: rgb(57, 66, 73);
  color: white;
}

.SearchBar{
  width: 200px;
}

.SearchInput{
  width: 170px;
  height: 40px;
  border: none;
  text-align: center;
}

.SearchInput:focus-visible{
  outline: 0;
}

.SearchResetButton{
  width: 20px;
  height: 40px;
  padding: 0;
  border: none;
  font-weight: bold;
  opacity: .5;
  transition: all .5s;
}

.SearchResetButton:hover{
  opacity: .8;
  transition: all .5s;
}

.Temperature {
  padding: 8px;
  font-size: 10px;
  color: darkgrey;
}